
.card {
  width: 12vw;
  border: 1px solid black;
  height: 40vh;
}
.card img {
  width: 180px;
}
.App {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.read-the-docs {
  color: #888;
}
.card {
  width: 30vw;
}
.card img {
  width: 15vw;
}
.home {
  display: flex;
  justify-content: space-around;
}
