
.card {
  border: none;
  height: 50vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem
}
.card img {
  width: 180px;
}
.card h4 {
  text-align: center;
}
.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.read-the-docs {
  color: #888;
}
.card {
  width: 20vw;
}
.card button {
  border: 1px solid #888;
}
.card img {
  width: 10vw;
}
.home {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}
.list {
  display: flex;
}
.list li {
  list-style-type: none;
  padding: 1rem 1rem;
}
.list li button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1rem;
}

.navbar span {
  color: #007bff;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.footer {
  width: 100vw;
  margin-top: 2rem;
}

.cart {
  text-align: center;
  padding: 0;
}
.product img {
  width: 350px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  gap: 1rem;
  
}

.dark{
  background-color: #12121296;
  color: black;
}

.dark span {
  color: white;
}

.dark button {
  background-color: #343a40;
}

.dropdown button {
  border: none;
}
.product {
  border: none;
  height: 60vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw
}

.product img {
  width: 20vw
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-left: 10rem;
}

.total {
  border: none;
  height: 60vh;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.card h5 {
  color: black;
}

.total {
  width: 20vw;
  border: 1px solid black;
  height: 15vh;
}

.payment-form{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment-form button {
  margin-bottom: 1rem;
  background-color: #618685;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #80ced6;
  margin-top: 2rem;
  width: 50vw;
  height: 10vh;
}

.message h4 {
   color: #618685;
}